footer {
  background: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  font-size: 1rem;
  margin-top: 7rem;
}

footer a {
  color: var(--color-bg);
}
.footer__logo {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  display: inline-block;
}
.permalinks{
    display: flex;
    flex-wrap: ;
}
