header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  position: relative;
  height: 100%;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
}
.cta a:last-child{
    margin-left: 1.5rem;
}
