header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  position: relative;
  height: 100%;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 0.8rem;
  align-items: center;
  left: 0;
  bottom: 3rem;
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.me {
    background: var();
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50%-11rem);
}
