header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  position: relative;
  height: 100%;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.header__socials{
    display: flex;
    flex-direction: column;
    po
}
