.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.services {
  background: var(--color-bg-variant);
  hie: fit-content;
  border-radius: 0 0 2rem 2rem;
}
.services__head {
  background: var(--color-primary);
  border-radius: 0 0 1rem 1rem;
}
