#services h2,
#services h5 {
  text-align: center;
}
.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.services {
  background: var(--color-bg-variant);
  height: fit-content;
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  transition: var(transition);
}
.services:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}
.services__head {
  background: var(--color-primary);
  border-radius: 0 0 1rem 1rem;
  padding: 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.services__head h3 {
  color: var(--color-bg);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.services__list {
  padding: 2rem;
}
.services__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.services__list-icon {
  color: car(--color-primary);
  margin-top: 4px;
}
.services__list p {
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: ;
  }
}

/*===SMALL DEVICES===*/
@media screen and (max-width: 600px) {
}
