.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.services {
  background: var(--color-bg-variant);
  /* width: fit-content; */
  border-radius: 0 0 2rem 2rem;
}
.services__head{
    background: var(--b);
}
