.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.services {
  background: var(--color-bg-variant);
  height: fit-content;
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  transition: var(transition);
}
.services:hover {
  background: transparent;
  border-color: var();
}
.services__head {
  background: var(--color-primary);
  border-radius: 0 0 1rem 1rem;
}
